################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/obj
**/bin
**/bin
**/.vs
/src/SimpleWait.Core/Properties/PublishProfiles
/src/SimpleWait.Core/SimpleWait.Core.csproj.user
